.featuretips-container { 
  border: 1px black solid;
  padding: 15px;
  width: 350px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 5px;
  position: relative;
}

.featuretips-container .close {
  position: absolute;
  right: -10px;
  top: -12px;
  font-size: 24px;
  color: red;
  font-weight: bold;
}

.featuretips-container .featuretips-title {
  margin: 0 0 5px 0;
  font-size: 24px;
}

.featuretips-container .featuretips-body {
  margin: 10px 0;
}

.featuretips-container .dismiss.end,
.featuretips-container .dismiss.next {
  float: right;
}

.arrow {
  width: 0;
  height: 0;
  position: absolute;
}

.arrow-up {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

.arrow-down {
  border-left: 20px solid transparent;
  border-right 20px solid transparent;
  border-top: 20px solid #f00;
}

.arrow-right {
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid green;
}

.arrow-left {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid blue;
}
}
